.about-page .hero {
  background-image: url('../assets//about.jpg');
}

.mission-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.mission-vision .section {
  max-width: 300px;
  margin: 1rem;
  text-align: center;
}

.mission-vision h2 {
  color: #34495e;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.mission-vision ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.mission-vision li {
  margin-bottom: 0.5rem;
}

.images {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.images img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .mission-vision {
    flex-direction: column;
    align-items: center;
  }

  .images {
    flex-direction: column;
    align-items: center;
  }

  .images img {
    max-width: 80%;
  }
}
