.home-page .hero {
  background-image: url('./assets/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hon{
  background-image: url('./assets/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  
}
.hon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  height: 80vh;
}

.about-snippet {
  padding: 2rem;
  text-align: center;
  background: #f9f9f9;
  margin: 2rem 0;
}

.about-snippet h2 {
  color: #34495e;
  font-size: 1.8em;
  margin-bottom: 1rem;
}

.about-snippet p {
  font-size: 1.1em;
  margin: 1rem 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-snippet .cta-button {
  margin-top: 1rem;
}

.highlights {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.highlight {
  text-align: center;
  max-width: 300px;
  margin: 1rem;
}

.hero-image {
  text-align: center;
  margin: 2rem 0;
}

.hero-image img {
  max-width: 100%;
  height: 50vh;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  .highlights {
    flex-direction: column;
    align-items: center;
  }
  
}
