.home-page .hero {
  background-image: url('../assets/homepage.jpg');
}

.highlights {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.highlight {
  text-align: center;
  max-width: 300px;
  margin: 1rem;
}

.hero-image {
  text-align: center;
  margin: 2rem 0;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.hero{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .highlights {
    flex-direction: column;
    align-items: center;
  }
}
